<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }}" />
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% else %}
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta property="og:description" content="{{ site.description | xml_escape }}" />
  {% endif %}

</head>
<body>

<div class="container">
  <div>
    <header role="banner">
      <h1>
        <a href="/">{{ site.name }}</a>
      </h1>
    </header>
  </div>

  <div class="wrap content">
    {% include sidebar.html %}


    <article id="main" class="main-content" role="main">
      {{ content }}
    </article>

  </div>
</div>

</body>
</html>
